cppyy==3.1.2
csvtool==0.2
dj-rest-auth==5.0.2
django-allauth==0.61.1
django-cors-headers==4.3.1
django-environ==0.11.2
django-import-export==3.3.7
django-q2==1.6.1
Django==5.0.3
djangorestframework-simplejwt==5.3.1
djangorestframework==3.14.0
drf-spectacular==0.27.1
geopy==2.4.1
gunicorn==21.2.0
jax==0.4.25
jaxlib==0.4.25
openpyxl==3.1.2
pandas==2.2.0
git+https://github.com/gis-ops/py-osrm
regex==2023.12.25
tensorflow-cpu==2.12.0
whitenoise==6.6.0